span {
    font-size: 14px;
}
.Nav{
    
    top: 23px;    
}
#Label{
    height: 1250px;
}


#Lab1 {
    background-color:white;
    height: 1250px;
}
#DateLab{
    text-align: center;
    border-radius:7px;
    background-color:rgba(242, 242, 242, 1);
    width: 750px;
    height: 250px;
    display: flex;
}  

#Date{
    width: 750px;
    height: 220px;
    display: flex;
    background-color:wheat;    
  
}
.Type {
    width: 250px;
    height: 40px;
}
.Type p{
    margin:0 auto;
}
#MapLab {
    
    text-align: center;
    border-radius:7px;
    background-color:rgba(242, 242, 242, 1);
    margin:0 auto;
    width: 750px;
    height: 450px;
}
#Map{
    margin:0 auto;
    width: 720px;
    height: 395px;
}
